.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pub,
.formulario {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f8f8f8;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination li a {
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination li a:hover {
  background-color: #5bc0de;
  color: #fff;
  border-color: #5bc0de;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}